---
import PostList from '@/components/PostList.astro'
import { allLocales } from '@/config'
import { getLangFromLocale, getLangRouteParam } from '@/i18n/lang'
import Layout from '@/layouts/Layout.astro'
import { getDarknessPostsByYear, getPinnedDarknessPosts } from '@/utils/darkness'

export async function getStaticPaths() {
  return allLocales.map(lang => ({
    params: { lang: getLangRouteParam(lang) },
  }))
}

const currentLang = getLangFromLocale(Astro.currentLocale)

const pinnedDarknessPosts = await getPinnedDarknessPosts(currentLang)
const darknessPostsByYear = await getDarknessPostsByYear(currentLang)
---

<Layout>
  <!-- Pinned Darkness -->
  {pinnedDarknessPosts.length > 0 && (
    <section class="mb-7.5">
      <div class="uno-decorative-line" />
      <PostList posts={pinnedDarknessPosts} lang={currentLang} pinned={true} />
    </section>
  )}

  <!-- Regular Darkness -->
  {[...darknessPostsByYear.entries()].map(([_year, posts]) => (
    <section class="mb-7.5">
      <div class="uno-decorative-line" />
      <PostList posts={posts} lang={currentLang} />
    </section>
  ))}
</Layout>
