---
import themeConfig from '@/config'
import { ui } from '@/i18n/ui'
import { getPageInfo } from '@/utils/page'

const {
  currentLang,
  isHome,
  isDarkness,
  isEmileMoselly,
  isTag,
  isAbout,
  getLocalizedPath,
  isBlogRoll,
  isContact,
} = getPageInfo(Astro.url.pathname)
const currentUI = ui[currentLang as keyof typeof ui] ?? {}

const isDarknessActive = isDarkness
const isEmileMosellyActive = isEmileMoselly
const isHomeActive = isHome
const isTagActive = isTag
const isAboutActive = isAbout
const isBlogRollActive = isBlogRoll
const isContactActive = isContact

function getNavItemClass(isActive: boolean, colorClass: string) {
  const base = 'after:bottom-0.7em transition-[colors,font-weight]'

  return isActive
    ? `${base} font-bold highlight-static ${colorClass}`
    : `${base} highlight-hover hover:(font-bold ${colorClass})`
}

const navItems = [
  {
    href: '/',
    label: currentUI.home,
    active: isHomeActive,
    colorClass: 'c-primary',
    highlightColor: themeConfig.color.light.highlights.home,
  },
  {
    href: '/darkness/',
    label: currentUI.darkness,
    active: isDarknessActive,
    colorClass: 'c-primary',
    highlightColor: themeConfig.color.light.highlights.darkness,
  },
  {
    href: '/emile-moselly/',
    label: currentUI.emileMoselly,
    active: isEmileMosellyActive,
    colorClass: 'c-primary',
    highlightColor: themeConfig.color.light.highlights.emileMoselly,
  },
  {
    href: '/tags/',
    label: currentUI.tags,
    active: isTagActive,
    colorClass: 'c-primary',
    highlightColor: themeConfig.color.light.highlights.tags,
  },
  {
    href: '/about/',
    label: currentUI.about,
    active: isAboutActive,
    colorClass: 'c-primary',
    highlightColor: themeConfig.color.light.highlights.about,
  },
  {
    href: '/blogroll/',
    label: currentUI.blogRoll,
    active: isBlogRollActive,
    colorClass: 'c-primary',
    highlightColor: themeConfig.color.light.highlights.blogRoll,
  },
  {
    href: '/contact/',
    label: currentUI.contact,
    active: isContactActive,
    colorClass: 'c-primary',
    highlightColor: themeConfig.color.light.highlights.contact,
  },
];
---

<nav
  aria-label="Site Navigation"
  class:list={[
    'mb-10.5 text-3.6 font-semibold leading-2.45em font-navbar',
    'lg:(uno-desktop-column text-4 bottom-[min(9.04rem+3.85vw,12.5rem)]) cjk:tracking-wide',
    isDarkness || isEmileMoselly ? 'hidden lg:block' : '',
  ]}
>
  <ul>
    {
      navItems.map(item => (
        <li>
          <a
            href={getLocalizedPath(item.href)}
            class={getNavItemClass(item.active, item.colorClass)}
            style={`--highlight-color: ${item.highlightColor}`}
          >
            {item.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
